body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  
  .navbar {
  
    width: 100%;
    height: 4rem;
    background-color: rgb(233, 232, 232);
    padding-left: 5rem;
    padding-top: 1.5rem;
  }
  
  .navbar h1 {
    margin-top: 0px;
    font-weight: bolder;
  }
  
  .container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  input {
    border: none;
    background-color: rgb(233, 232, 232);
    width: 10rem;
    height: 2rem;
    outline: none;
    direction: rtl;
    caret-color: transparent;
  }
  
  input :focus {
    border: none;
    outline: none;
  }
  
  .input-num1 {
    margin-left: 2rem;
    padding-right: 12px;
  }
  
  .input-num2 {
    margin-left: 1rem;
    padding-right: 12px;
  }
  
  button {
    margin-left: 11rem;
    background-color: white;
    width: 7rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    border: 3px solid rgb(233, 232, 232);
    outline: none;
  }
  
  button:hover {
    outline: none !important;
    background-color: rgb(233, 232, 232);
  }
  
  .json-outline {
    width: 33rem;
    margin-top: 3rem;
    min-height: 19rem;
    background-color: rgb(233, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .json-inner {
    background-color: rgb(34, 44, 62);
    width: 31rem;
    min-height: 16rem
  }
  
  .brace {
    padding-top: 0.5rem;
    margin-left: 1rem;
    color: yellow;
  }
  
  .steps {
    margin-top: -27px;
    display: flex;
    align-items: center;
  }
  
  .step-key {
    margin-left: 2rem;
    color: aqua;
  }